<!--Esta es la vista de la landing page-->
<!-- <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %> -->




<%= render "/shared/navbar" %>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <!--<h2 class="title">dev<span class="highlight">Aid</span></h2>-->
             <%=image_tag("logovows.png", alt:"Desktop")%>
            <p></p> 
            <p></p> 
            <p class="intro">La nueva forma de cambiar al mundo</p>
            <div class="btns">               
                <%= link_to "FUNDACIÓN", new_contact_path, class: "btn btn-success", id: "botonprimariofundacion"%>
                <%= link_to "DONANTE", new_user_session_path, class: "btn btn-success", id: "botonprimariodonante"%>
            </div>       
        </div><!--//container-->     
    </section><!--//promo-->
<!-- ******END PROMO****** -->   
<!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">¿Quienes Somos?</h2>
            <h1>Facilitarles a personas comunes y corrientes como ustedes</h1>
            <h1>o como nosotros, apoyar aquellas fundaciones e iniciativas</h1>
            <h1>sociales que realmente están haciendo la diferencia.</h1>
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 class="title">¿Cómo?</h2>
            <h1>Dándoles mayor visibilidad y alcance, lo que a su vez,</h1>
            <h1>les ayuda a conseguir más recursos. más voluntarios y </h1>
            <h1>más aliados, y así, multiplicando su impacto</h1>
           
        </div><!--//container-->
    </section><!--//features-->
<!-- ******END FEATURES****** -->   

<!-- ******ABOUT / NOSOTROS! ****** --> 
    <section id="Nosotros" class="about section">
        <div class="container">

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <%=image_tag('http://s6.postimg.org/sai5y4q41/Testimonios2_02.png')%>     
              </div> 
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">  
                <%=image_tag('http://s6.postimg.org/6gopc2vch/Testimonios2_01.png')%>      
              </div> 
            </div>   

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <%=image_tag('http://s6.postimg.org/cqas7lfzl/Testimonios2_04.png')%>     
              </div> 
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">  
                <%=image_tag('http://s6.postimg.org/5s6o1nhv5/Testimonios2_03.png')%>          
              </div> 
            </div>  

        </div><!--//container-->
    </section><!--//about-->
<!-- ******END ABOUT / NOSOTROS! ****** -->   

     

  <!-- ******CONTACT****** --> 
<!--  
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <h2 class="title">Slide 4</h2>

          
        </div><!--//container-->
<!--        
    </section><!--//contact-->  