<!--Esta es la vista de la landing page-->
<!-- <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %> -->




<%= render "/shared/navbar" %>

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- ******PROMO****** -->
    <section id="promo" class="promo section offset-header">
        <div class="container text-center">
            <!--<h2 class="title">dev<span class="highlight">Aid</span></h2>-->
             <%=image_tag("logovows.png", alt:"Desktop")%>
            <p></p> 
            <p></p> 
            <p class="intro">La nueva forma de cambiar al mundo</p>
            <div class="btns">               
                <%= link_to "FUNDACIÓN", new_contact_path, class: "btn btn-success", id: "botonprimariofundacion"%>
                <%= link_to "DONANTE", new_user_session_path, class: "btn btn-success", id: "botonprimariodonante"%>
            </div>       
        </div><!--//container-->     
    </section><!--//promo-->
<!-- ******END PROMO****** -->    

<!-- ******ABOUT / NOSOTROS! ****** --> 
    <section id="Nosotros" class="about section">
        <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="fondoperfil2">
                <%=image_tag('testimonios22.png', alt:"Desktop")%>     
              </div> 
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="fondoperfil3">  
                <%=image_tag('testimonios23.png', alt:"Desktop")%>          
              </div> 
            </div>    

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="fondoperfil2">


        </div><!--//container-->
    </section><!--//about-->
<!-- ******END ABOUT / NOSOTROS! ****** -->   

  
    
<!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container text-center">
            <h2 class="title">Features</h2>
            <%=image_tag('testimonios22.png', alt:"Desktop")%>  
            <%=image_tag("logovows.png", alt:"Desktop")%>
        </div><!--//container-->
    </section><!--//features-->
<!-- ******END FEATURES****** -->    

  <!-- ******CONTACT****** --> 
<!--  
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <h2 class="title">Slide 4</h2>

          
        </div><!--//container-->
<!--        
    </section><!--//contact-->  